
<div class="col-md-12">
  <ul class="breadcrumb">
      <li><a href="#">Home</a>
      </li>
      <li>New account / Sign in</li>
  </ul>
</div>
<div class="col-md-6">
  <div class="box">
    <h1>New account</h1>
    <hr>
    <%= form_for(@user) do |f| %>
    <%= render "shared/error_messages" %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", id: "name" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", id: "email"  %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", id: "password"  %>
      </div>
      <div class="form-group">
         <%= f.label :password_confirmation, "Confirmation" %>
         <%= f.password_field :password_confirmation, class: "form-control", id: "password_confirmation"  %>
      </div>
      <div class="text-center">
        <%= f.submit "Create my account", class: "btn btn-primary fa fa-user-md" %>
      </div>
    <% end %>
  </div>
</div>
